.collection{
    .collection-recipes{
        margin: 45px auto 0;
        display: flex;
        justify-content: space-between;
        width: 1096px;

        .recipe{
            position: relative;
            z-index: 1;

            &-title{
                position: absolute;
                bottom: 43px;
                left: 50%;
                transform: translateX(-50%);
                text-transform: uppercase;
                font-size: 25.704px;
                color: rgb(240, 240, 240);
                text-align: center;
                z-index: 2;
            }
            &:hover{
                transform: scale(1.05);
                z-index: 3;
            }
        }
    }
}
