div.collection
  h1 #ГОРЯЧАЯПОДБОРКА

  div.collection-recipes
    div.recipe
      img(src="img/res11.png")
      div.recipe-title Похмельные рецепты
    div.recipe
      img(src="img/res12.png")
      div.recipe-title Масленица
    div.recipe
      img(src="img/res13.png")
      div.recipe-title Рецепты для детей
    div.recipe
      img(src="img/res14.png")
      div.recipe-title Здоровое питание
