div.find-recipe
  h1 Подбор рецептов
  div.recipes
    div.recipe#r1
      div.title-block
        h5 Блюдо дня
        h3 Куриные ножки на гриле
    div.recipe#r2
      div.title-block
        h5 Лучшие рецепты недели
        h3
            |7 Лучших рецептов</br>
            |недели
    div.recipe#r3
      div.recipe-title Как приготовить пирог в одной посуде 5 рецептов
    div.recipe#r4
      div.recipe-title Как приготовить сырный торт с овощами
    div.recipe#r5
      div.recipe-title 10 простых напитков в жару
    div.recipe#r6
      div.recipe-title Что такое мед?
    div.recipe#r7
      div.recipe-title Как правильно замесить дрожевое тесто
    div.recipe#r8
      div.recipe-title Человек, который делает лучшие митболы в Бельгии
