div.footer
  nav
    ul
      each item in ["Главная", "Рецепты", "Идеи", "Журнал", "Авторы", "Реклама", "FAQ"]
        li
          a(href="#")= item
      li.social#vk
        a(href="#")
          img(src="img/vk1.png")
      li.social
        a(href="#")
          img(src="img/fb.png")
      li.social
        a(href="#")
          img(src="img/inst.png")
      li.social
        a(href="#")
          img(src="img/Gym.png")
