main{
    display: flex;
    flex-flow: column nowrap;

    .main__top{
        padding: 20px;

        .search-bar{
            display: flex;
            align-items: center;
            & > *{
                margin-right: 30px;
            }
            input{
                border: none;
                outline: none;
                flex-grow: 1;
            }
            img{
                flex-grow: 0;
            }
        }
    }
}
