div.recipes
  h1 Рецепты
  nav
    ul.recipes-nav
      li.current
        button Новые рецепты
      li
        button Популярные
      li
        button Рекомендуемые

    div.recipes-container
      div.recipe
        div.left__block
          img.recipe-img(src="img/res1.png")
          div.author
            img.author-logo(src="img/author.png")
            span Dariya Fedorenko
        div.right__block
          div.top__block
            h3.recipe-title Утиные ножки с овощами и грудинкой
            div.icons
              ul
                li
                  img(src="img/clock.png")
                  span 135 мин
                li
                  img(src="img/food-drink.png")
                  span Сложно
                li
                  img(src="img/run.png")
                  span 125 ккал
            p.description
              |говядина, масло топлёное, лук репчатый,
              |морковь, редька, перец сладкий, помидоры,
              |томат-пюре, картофель, чеснок, бульон мясной,
              |соль, перец чёрный, зелень петрушки...
          div.social
            ul
              li.like
                img(src="img/like.png")
                span 16
              li
                a(href="#")
                  img(src="img/vk.png")
              li
                a(href="#")
                  img(src="img/facebook.png")
              li
                a(href="#")
                  img(src="img/odnoklassniki.png")

      div.recipe
        div.left__block
          img.recipe-img(src="img/res2.png")
          div.author
            img.author-logo(src="img/author.png")
            span Dariya Fedorenko
        div.right__block
          div.top__block
            h3.recipe-title Салат из свеклы с козьим сыром и медовой заправкой
            div.icons
              ul
                li
                  img(src="img/clock.png")
                  span 35 мин
                li
                  img(src="img/food-drink.png")
                  span Сложно
                li
                  img(src="img/run.png")
                  span 125 ккал
            p.description
              |говядина, масло топлёное, лук репчатый,
              |морковь, редька, перец сладкий, помидоры,
              |томат-пюре, картофель
          div.social
            ul
              li.like
                img(src="img/like.png")
                span 16
              li
                a(href="#")
                  img(src="img/vk.png")
              li
                a(href="#")
                  img(src="img/facebook.png")
              li
                a(href="#")
                  img(src="img/odnoklassniki.png")

      div.recipe
        div.left__block
          img.recipe-img(src="img/res3.png")
          div.author
            img.author-logo(src="img/author.png")
            span Dariya Fedorenko
        div.right__block
          div.top__block
            h3.recipe-title Американский тыквенный пирог с корицей
            div.icons
              ul
                li
                  img(src="img/clock.png")
                  span 240 мин
                li
                  img(src="img/food-drink.png")
                  span Сложно
                li
                  img(src="img/run.png")
                  span 125 ккал
            p.description
              |лук репчатый, морковь, редька, перец сладкий,
              |помидоры, томат-пюре, картофель, чеснок,
              |бульон мясной, соль, перец чёрный, зелень
              |петрушки...
          div.social
            ul
              li.like
                img(src="img/like.png")
                span 16
              li
                a(href="#")
                  img(src="img/vk.png")
              li
                a(href="#")
                  img(src="img/facebook.png")
              li
                a(href="#")
                  img(src="img/odnoklassniki.png")

      div.recipe
        div.left__block
          img.recipe-img(src="img/res4.png")
          div.author
            img.author-logo(src="img/author.png")
            span Dariya Fedorenko
        div.right__block
          div.top__block
            h3.recipe-title Салат &laquo;Цезарь&raquo; традиционный фасолью
            div.icons
              ul
                li
                  img(src="img/clock.png")
                  span 107 мин
                li
                  img(src="img/food-drink.png")
                  span Сложно
                li
                  img(src="img/run.png")
                  span 125 ккал
            p.description
              |говядина, масло топлёное, лук репчатый,
              |морковь, редька, перец сладкий, помидоры,
              |томат-пюре, картофель, чеснок, бульон мясной,
              |соль, перец чёрный
          div.social
            ul
              li.like
                img(src="img/like.png")
                span 16
              li
                a(href="#")
                  img(src="img/vk.png")
              li
                a(href="#")
                  img(src="img/facebook.png")
              li
                a(href="#")
                  img(src="img/odnoklassniki.png")
      div.recipe
        div.left__block
          img.recipe-img(src="img/res5.png")
          div.author
            img.author-logo(src="img/author.png")
            span Dariya Fedorenko
        div.right__block
          div.top__block
            h3.recipe-title Соте из брюссельской капусты с варено-копченым окороком
            div.icons
              ul
                li
                  img(src="img/clock.png")
                  span 135 мин
                li
                  img(src="img/food-drink.png")
                  span Сложно
                li
                  img(src="img/run.png")
                  span 125 ккал
            p.description
              |говядина, масло топлёное, лук репчатый,
              |морковь, редька, перец сладкий, помидоры,
              |томат пюре, картофель, чеснок, бульон мясной,
              |соль, перец чёрный, зелень петрушки...
          div.social
            ul
              li.like
                img(src="img/like.png")
                span 16
              li
                a(href="#")
                  img(src="img/vk.png")
              li
                a(href="#")
                  img(src="img/facebook.png")
              li
                a(href="#")
                  img(src="img/odnoklassniki.png")

      div.recipe
        div.left__block
          img.recipe-img(src="img/res6.png")
          div.author
            img.author-logo(src="img/author.png")
            span Dariya Fedorenko
        div.right__block
          div.top__block
            h3.recipe-title Жареные баклажаны с помидорами
            div.icons
              ul
                li
                  img(src="img/clock.png")
                  span 35 мин
                li
                  img(src="img/food-drink.png")
                  span Сложно
                li
                  img(src="img/run.png")
                  span 125 ккал
            p.description
              |говядина, масло топлёное, лук репчатый,
              |морковь, редька, перец сладкий, помидоры,
              |томат пюре, картофель
          div.social
            ul
              li.like
                img(src="img/like.png")
                span 16
              li
                a(href="#")
                  img(src="img/vk.png")
              li
                a(href="#")
                  img(src="img/facebook.png")
              li
                a(href="#")
                  img(src="img/odnoklassniki.png")

      div.recipe
        div.left__block
          img.recipe-img(src="img/res7.png")
          div.author
            img.author-logo(src="img/author.png")
            span Dariya Fedorenko
        div.right__block
          div.top__block
            h3.recipe-title Наварен из говядины
            div.icons
              ul
                li
                  img(src="img/clock.png")
                  span 240 мин
                li
                  img(src="img/food-drink.png")
                  span Сложно
                li
                  img(src="img/run.png")
                  span 125 ккал
            p.description
              |лук репчатый, морковь, редька, перец сладкий,
              |помидоры, томат-пюре, картофель, чеснок,
              |бульон мясной, соль, перец чёрный, зелень
              |петрушки...
          div.social
            ul
              li.like
                img(src="img/like.png")
                span 16
              li
                a(href="#")
                  img(src="img/vk.png")
              li
                a(href="#")
                  img(src="img/facebook.png")
              li
                a(href="#")
                  img(src="img/odnoklassniki.png")

      div.recipe
        div.left__block
          img.recipe-img(src="img/res8.png")
          div.author
            img.author-logo(src="img/author.png")
            span Dariya Fedorenko
        div.right__block
          div.top__block
            h3.recipe-title Брюссельская капуста с белым соусом с сыром
            div.icons
              ul
                li
                  img(src="img/clock.png")
                  span 107 мин
                li
                  img(src="img/food-drink.png")
                  span Сложно
                li
                  img(src="img/run.png")
                  span 125 ккал
            p.description
              |говядина, масло топлёное, лук репчатый,
              |морковь, редька, перец сладкий, помидоры,
              |томат пюре, картофель, чеснок, бульон мясной,
              |соль, перец чёрный
          div.social
            ul
              li.like
                img(src="img/like.png")
                span 16
              li
                a(href="#")
                  img(src="img/vk.png")
              li
                a(href="#")
                  img(src="img/facebook.png")
              li
                a(href="#")
                  img(src="img/odnoklassniki.png")

      div.recipe
        div.left__block
          img.recipe-img(src="img/res9.png")
          div.author
            img.author-logo(src="img/author.png")
            span Dariya Fedorenko
        div.right__block
          div.top__block
            h3.recipe-title Печеночный торт с морковью и луком
            div.icons
              ul
                li
                  img(src="img/clock.png")
                  span 240 мин
                li
                  img(src="img/food-drink.png")
                  span Сложно
                li
                  img(src="img/run.png")
                  span 125 ккал
            p.description
              |лук репчатый, морковь, редька, перец сладкий,
              |помидоры, томат-пюре, картофель, чеснок,
              |бульон мясной, соль, перец чёрный, зелень
              |петрушки...
          div.social
            ul
              li.like
                img(src="img/like.png")
                span 16
              li
                a(href="#")
                  img(src="img/vk.png")
              li
                a(href="#")
                  img(src="img/facebook.png")
              li
                a(href="#")
                  img(src="img/odnoklassniki.png")

      div.recipe
        div.left__block
          img.recipe-img(src="img/res10.png")
          div.author
            img.author-logo(src="img/author.png")
            span Dariya Fedorenko
        div.right__block
          div.top__block
            h3.recipe-title Классический крабовый салат с огурцом и мидиями
            div.icons
              ul
                li
                  img(src="img/clock.png")
                  span 107 мин
                li
                  img(src="img/food-drink.png")
                  span Сложно
                li
                  img(src="img/run.png")
                  span 125 ккал
            p.description
              |говядина, масло топлёное, лук репчатый,
              |морковь, редька, перец сладкий, помидоры,
              |томат пюре, картофель, чеснок, бульон мясной,
              |соль, перец чёрный
          div.social
            ul
              li.like
                img(src="img/like.png")
                span 16
              li
                a(href="#")
                  img(src="img/vk.png")
              li
                a(href="#")
                  img(src="img/facebook.png")
              li
                a(href="#")
                  img(src="img/odnoklassniki.png")
