doctype html
head
  title Landing
  link(rel="stylesheet" type="text/css" href="style.css")
body
  nav.main-nav
    img.logo(src="img/logo.png")
    ul
      li.current
        a(href="#") Рецепты
      li
        a(href="#") Продукты
      li
        a(href="#") Как приготовить
      li
        a(href="#") Кулинарная книга
      li
        a(href="#") Здоровье
      li
        a(href="#") Авторы

  div.main-right__block
    include sections/main.pug
    include sections/footer.pug
