@import "fonts.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    font-family: "PFDinTextCompPro";
}
a{
    text-decoration: none;
}

.main-nav{
    position: fixed;
    height: 100%;
    width: 175px;
    text-align: center;
    background-color: #2f3032;
    z-index: 999;

    .logo{
        padding: 35px 57px;
    }

    ul{
        list-style: none;

        li{
            padding: 12px 0;

            a{
                font-size: 14px;
                color: rgb(239, 239, 239);
            }
        }
        .current{
            background-color: #252628;
            border-left: 4px solid #d9be8f;
        }
    }
}

.main-right__block{
    margin-left: 175px;
}

@import "sections/delimiter.scss";
@import "sections/main.scss";
@import "sections/footer.scss";
